@font-face {
    font-family: Montserrat;
    src: url('./font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    height: 100vh;

}

body {
    margin: 0;
    height: 100%;
}

.main-container {
    background-color: #FDFCF4;
    min-height:calc(100%);
    padding-block-start: 70px;
}

h1{
    background: #FB3440;
    padding: 20px 90px;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 50px;
    color: #FDFCF4;
    margin-bottom: 0;
}

.fact-list {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.fact-list li {
    padding: 20px 90px;
    border-bottom: 1px solid black;
    color: #717171;
}

.fact-list span {
    font-size: 2rem;
    color: black;
}

p{
    padding: 30px 90px;
    margin: 0;
    font-weight: 600;
}

.hamburger {
    height: 45;
    width: 45;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}